/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700 */


body{
    font-family: 'Poppins', sans-serif;
}
.container-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
 
}
.container{
    box-sizing: content-box;
    
} 
.col-1 {
    color: #fff;
    margin: 10px;
    padding: 30px;
}
.col-2 {
    margin: 10px;
}
@media screen and (max-width: 1440px) {
    .container-wrapper{
        background: url('./images/bg-intro-desktop.png');
        background-color: hsl(0, 100%, 74%) ;
        padding: 20px 0;
    }
    .container {
       display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
   
}

.try{
    background-color:  hsl(248, 32%, 49%);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: x-small;
    border-radius: 5px;
    font-weight: 400;
}
.bold{
    color: white;
    font-weight: 600;
}
.form-area{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
img{
   opacity: 50;
}

.icon {
    position: fixed;
    padding-left: 11%;
    padding-top: 1%;
}

input:hover .icon{
    opacity: 0;
}
input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 10px;
    border: solid 1px hsl(246, 25%, 77%);
}
input:hover {
    border: solid 2px hsl(249, 10%, 26%) ;
}
@media screen and (max-width: 375px) {
    
    .container {
        background: url('./images/bg-intro-mobile.png');
        background-color: hsl(0, 100%, 74%) ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-1 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .col-1 > p {
        padding: 0;
        font-size: x-small;
    }
    h1{
        font-size: medium;
        
        padding: 0;
    }
    .icon {
        position: fixed;
        padding-left: 29%;
        padding-top: 2%;
    }
   
}
.btn{
    display: block;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color: hsl(154, 59%, 51%);
    border: none;
    color: #fff;   
    font-weight: bold;
}
.terms {
    font-size: x-small;
}
span {
    color: hsl(0, 100%, 74%) ;
    font-weight: 600;
}